@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Quicksand:wght@300;400;500;600;700&family=Saira:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(243, 59, 89);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(251, 246, 246, 0.906);
  padding: 1rem;
}

.back {
  display: flex;
  align-items: center;
}

nav h2 {
  font-weight: 200;
}

.back a i {
  margin-right: 10px;
  color: rgba(251, 246, 246, 0.906) ;
}

.icons i {
  font-size: 20px;
  margin-left: 13px;
}

/*** Homepage **/

.header {
  height: 33vh;
  background-image: linear-gradient(rgba(90, 6, 20, 0.381), rgba(90, 6, 20, 0.579)), url(./components/Assets/header.jpg);
   background-position:center;
   background-size: 100%;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 1rem;
}

.header h2 {
  width: 218px;
  color: rgba(255, 255, 255, 0.818);
  
}

.each {
  color: white;
  padding: 10px;
  margin: 5px 0;
  padding: 1rem;
}

/*** header input ***/
.form{
  margin: 0;
  padding: 0;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 0px;
  outline: none;
  border: none;
}

.Hcard {
   background-image: linear-gradient(rgba(90, 6, 20, 0.381), rgba(90, 6, 20, 0.579)), url(./components/Assets/header2.jpg);
}
