@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Quicksand:wght@300;400;500;600;700&family=Saira:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(243, 59, 89);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(251, 246, 246, 0.906);
  padding: 1rem;
}

.back {
  display: flex;
  align-items: center;
}

nav h2 {
  font-weight: 200;
}

.icons i {
  font-size: 20px;
  margin-left: 13px;
}

.back a i {
  margin-right: 10px;
  color: rgba(251, 246, 246, 0.906);
}

/*** Homepage **/

.header {
  height: 33vh;
  background-image: linear-gradient(rgba(90, 6, 20, 0.381), rgba(90, 6, 20, 0.579)), url(./components/Assets/header.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.header h2 {
  width: 218px;
  color: rgba(255, 255, 255, 0.818);
}

.each {
  color: white;
  margin: 5px 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*** header input ***/
.form {
  margin: 0;
  padding: 0;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 0;
  outline: none;
  border: none;
}

/*** Each *****/

.each:nth-child(even) {
  background-color: rgba(140, 19, 39, 0.895);
}

.each h3 {
  margin-bottom: 10px;
}

.each a {
  color: white;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.total {
  font-weight: 600;
}

/*** card ****/

.Hcard {
  background-image: linear-gradient(rgba(90, 6, 20, 0.381), rgba(90, 6, 20, 0.579)), url(./components/Assets/header2.jpg);
}

.subhead {
  color: white;
  background-color: rgba(140, 19, 39, 0.895);
  padding: 5px 10px;
}

.card li {
  color: white;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

.card li:nth-child(even) {
  background-color: rgba(140, 19, 39, 0.895);
}

@media (min-width: 768px) {
  .header {
    height: 60vh;
  }

  .header h2 {
    font-size: 2em;
    width: 290px;
  }

  .form input {
    padding: 1rem 10px;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 220px;
  }

  .each {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
  }

  .detail {
    font-size: 18px;
  }

  .detail h3 {
    margin-bottom: 1rem;
  }

  .each a {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .each:nth-child(4n-1) {
    background-color: rgba(90, 6, 20, 0.579);
  }

  .each:nth-child(4n) {
    background-color: transparent;
  }

  /*** cards ****/
  .subhead {
    font-size: 20px;
    padding: 10px 10px;
    font-weight: 200;
  }

  .card ul li {
    font-size: 24px;
    padding: 1.3rem 1rem;
  }
}
